@media (max-width: 767px) {
  /*--menu bar--*/
  .navBarCustom {
    width: 100%;
  }
  .centerMenu > ul > li > a.customA {
    padding-top: 12px;
    padding-bottom: 7px;
  }
  /*--banner--*/
  .banner {
    margin-top: 40px;
  }
  /*--form--*/
  .marginBottomXS {
    margin-bottom: 15px;
  }
  .customCheckbox label {
    font-weight: normal;
  }
  /*--sharing--*/
  .imgMainContainer {
    height: 350px
  }
}
@media (min-width: 768px) {
  /*--menu bar--*/
  .customNavBar {
    display: inline-block !important;
    float: none !important;
  }
  .customNavBar > li {
    width: 130px;
    height: 98px;
  }
  .centerMenu > ul > li > a.customA {
    margin-top: 27px;
    padding-top: 7px;
    height: 50px;
    border-radius: 25px 2px 25px 2px;
    font-size: 14px;
  }
  /*--banner--*/
  .banner {
    margin-top: 35px;
    height: 580px;
    background-image: url("./photos/201803/banner.jpg");
    background-size: cover;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /*--places--*/
  .place {
    margin-top: 290px;
  }
  .place .customMedia {
    margin: 0 !important;
  }
  .customMedia h5 {
    font-size: 14px !important;
  }
  /*--form--*/
  .marginBottomSM {
    margin-bottom: 15px;
  }
  /*--opportunities--*/
  .oppContent {
    height: 500px;
  }
  /*--sharing--*/
  .imgMainContainer {
    height: 300px
  }
}
@media (max-width: 991px) {
  /*--font--*/
  h5 {
    font-size: 17px!important;
  }
  /*--space--*/
  .smSpace {
    height: 17px;
  }
  .mdSpace {
    height: 30px;
  }
  .lgSpace {
    height: 70px;
  }
}
@media (min-width: 992px) {
  /*--font--*/
  h5 {
    font-size: 16px!important;
  }
  /*--space--*/
  .smSpace {
    height: 20px;
  }
  .mdSpace {
    height: 50px;
  }
  .lgSpace {
    height: 90px;
  }
  /*--menu bar--*/
  .customNavBar > li {
    width: 170px;
    height: 129px;
  }
  .centerMenu > ul > li > a.customA {
    margin-top: 42px;
    padding-top: 7px;
    height: 50px;
    border-radius: 25px 2px 25px 2px;
  }
  /*--banner--*/
  .banner {
    margin-top: 20px;
    height: 700px;
  }
  /*--places--*/
  .place {
    margin-top: 380px;
  }
  /*--form--*/
  .marginBottomMD {
    margin-bottom: 15px;
  }
  /*--opportunities--*/
  .oppContent {
    height: 460px;
  }
  /*--sharing--*/
  .imgMainContainer {
    height: 370px
  }
}
@media (min-width: 1200px) {
  /*--banner--*/
  .banner {
    height: 800px;
  }
  /*--places--*/
  .place {
    margin-top: 430px;
  }
}
/*--fonts--*/
h3, h4, h5 {
  line-height: 25px!important;
}
p {
  line-height: 23px!important;
}
.size33 {
  font-size: 33px;
}
/*--color--*/
.white {
  color: #fff;
}
.dgrayBg {
  background-color: #dedede;
}
.red {
  color: #e11a1e;
}
.yellow {
  color: #ffd119;
}
.lblue {
  color: #26a4fb;
}
.blue {
  color: #305196;
}
.blueBg {
  background-color: #305196;
}
/*--space--*/
.noPadding {
  padding: 0 !important;
}
/*--common--*/
.imgResponsive {
  width: 100%;
  height: auto;
  border: solid 10px white;
  border-radius: 3px;
  margin-top: 15px;
  box-shadow: 2px 2px 7px #404040;
}
.module {
  display: inline-block;
}
.customMedia {
  margin-top: 10px !important;
}
/*--title--*/
.sectionTitle {
  margin-top: 30px;
  margin-bottom: 40px;
}
.hrCustom {
  background-color: #4b4b4e;
  height: 2px;
  width: 100%;
  text-align: center;
}
/*--button--*/
.btnBlock {
  margin: 20px auto 10px auto;
  display: block;
  padding: 7px 55px 13px 55px;
  border-radius: 10px !important;
  box-shadow: none;
  border: none;
}
.btnBlock h4 {
  margin-bottom: 0;
}
#btnRegister {
  background-color: #dc3539;
  color: white;
}
#btnRegister:hover {
  background-color: #e11a1e;
}
/*--menu bar--*/
.navBarCustom {
  background-color: white;
  margin-bottom: 0 !important;
  text-align: center;
  border: 0 !important;
  padding: auto
}
.navBarCustom > .container-fluid > .centerMenu {
  display: inline-block !important;
}
.centerMenu > ul > li > a {
  text-align: center;
  color: black;
  font-weight: bold;
}
.centerMenu > ul > li > a:hover {
  background-color: white;
}
.centerMenu > ul > li > a.customA:hover {
  background-color: #233754;
  //background-image: linear-gradient(to right, #4d28b4, #7c20a3, #a41794);
  color: white;
}
/*--banner--*/
.banner {
  background-position: center;
}
/*--places--*/
.place {
  display: inline-block;
  padding: 0 35px 0 35px;
}
.iconPlaces {
  width: 18px;
  height: auto;
  background-color: transparent;
}
/*--form--*/
.formBg {
  background-color: #233754;
}
.customInput {
  background-color: #fff !important;
  border-radius: 9px !important;
  padding: 12px 40px 8px 12px !important;
  height: auto !important;
  color: black !important;
  font-size: 15px;
}
.customSelect {
  background-color: #fff !important;
  border-radius: 9px !important;
  margin-left: 0;
  margin-right: 0;
  padding: 0!important;
  color: black !important;
  font-size: 15px;
  height: inherit;
}
.customCheckbox {
  background-color: #fff !important;
  border-radius: 8px !important;
  margin-left: 0;
  margin-right: 0;
  padding: 12px 0 12px 0 !important;
  color: black !important;
  font-size: 15px;
  height: inherit;
}
input::-webkit-input-placeholder { /* Chrome */
  color: gray !important;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: gray !important;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: gray !important;
  opacity: 1;
}
input:-moz-placeholder { /* Firefox 4 - 18 */
  color: gray !important;
  opacity: 1;
}
/*--opportunities--*/
.oppContainer {
  border: solid 2px white;
}
.oppContent {
  border: solid 7px white;
  background-color: #305196;
  color: white;
}
.oppContent:hover {
  border: solid 7px #305196;
}
/*--sharing--*/
.imgMainContainer {
  background-size: cover;
  background-position: center;
  margin-top: 30px;
}
.imgContainer1 {
  background-image: url('./photos/201803/sharing-1.jpg');
}
.imgContainer2 {
  background-image: url('./photos/201803/sharing-2.jpg');
}
.imgContainer3 {
  background-image: url('./photos/201803/sharing-3.jpg');
}
/*--footer--*/
.footer {
  background-image: url('./photos/201710/footer.png');
  background-position: center;
  background-size: contain;
  color: white;
}
.footer p, .footer a {
  font-size: 14px;
}
.footer a, .footer a:hover {
  color: white;
  text-decoration: none;
}