/*----fonts----*/
@font-face {
    font-family: "myriad";
    src: url("./fonts/MYRIADPRO-REGULAR.otf")
}

@font-face {
    font-family: "myriadbold";
    src: url("./fonts/MYRIADPRO-BOLD.otf")
}

@font-face {
    font-family: "myriadsemibold";
    src: url("./fonts/MYRIADPRO-SEMIBOLD.otf")
}

body {
    font-family: "myriad" !important;
}

.semibold {
    font-family: "myriadsemibold";
}

.bold {
    font-family: "myriadbold";
}

.bootstrap-select{
    padding-bottom: 0px;
}

.form-group .bootstrap-select.btn-group {
    height: 46px;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select.btn-group .dropdown-toggle {
    background-color: #6e61ca !important;
    border-radius: 8px !important;
    padding: 12px 40px 12px 10px !important;
    height: auto !important;
    color: #fff !important;
    font-size: 14px!important;
}
.bootstrap-select.btn-group .dropdown-menu {
    background-color: #6e61ca !important;
    color: #fff !important;
}
.dropdown-menu > li > a {
    color: white;
}
@media (max-width:767px){
    .navbar-toggle {
        border-color: #6e61ca
    }
    .icon-bar {
        background-color: #6e61ca
    }
}
