@media (max-width: 767px) {
  .xsCenter {
    text-align: center;
  }

  .marginBottomXS {
    margin-bottom: 15px;
  }

  .navBarCustom {
    width: 100%;
  }

  .centerMenu > ul > li > a.customA {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .banner {
    margin-top: 50px;
  }

  .customCheckbox label {
    font-weight: normal;
  }

  .imgMainContainer {
    height: 250px;
  }
}

@media (min-width: 768px) {
  .navBarCustom {
    background-color: white;
  }

  .centerMenu > ul > li > a.customA {
    padding-top: 40px;
    height: 100px;
  }

  .banner {
    margin-top: 95px;
  }

  .imgMainContainer {
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .imgMainContent {
    height: inherit;
    padding-top: 40%;
    padding-bottom: 20px;
    transition: background-color .4s linear;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -o-transition:background-color .4s ease-in-out;
  }

  .imgMainContent:hover {
    background-color: rgba(0,0,0,0.5);
  }

  .imgMainContent .captionCustom {
    visibility: hidden;
  }

  .imgMainContent:hover .captionCustom {
    visibility: visible;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .xsCenter {
    text-align: center;
  }
  .marginBottomSM {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .navBarCustom {
    background-color: white;
  }

  .smallSpacing {
    height: 17px;
  }

  .mediumSpacing {
    height: 30px;
  }

  .largeSpacing {
    height: 70px;
  }

  h5 {
    font-size: 17px!important;
  }
}

@media (min-width: 992px) {
  .marginBottomMD {
    margin-bottom: 15px;
  }

  .smallSpacing {
    height: 20px;
  }

  .mediumSpacing {
    height: 50px;
  }

  .largeSpacing {
    height: 90px;
  }

  h5 {
    font-size: 16px!important;
  }
}

body {
  color: #3c3c3c;
}

h4, h5 {
  line-height: 25px!important;
}

.white, .customInput {
  color: #fff;
}

.grayBg {
  background-color: #f4f4f4
}

.orange {
  color: #ed7618;
  font-weight: 800;
}

.orangeBg {
  background-color: #ed7618;
}

.yellowBg {
  background-color: #FFC00D;
}

.lgreenBg {
  background-color: #14CC80;
}

.lblue {
  color: #26a4fb;
}

.lblueBg {
  background-color: #26a4fb;
}

.dblue {
  color: #0965cc;
}

.blackBg {
  background-color: #000;
}

.noPadding {
  padding: 0 !important;
}

.hrCustom {
  width: 40%;
  height: 2px;
  border: none;
  display: inline-block;
  margin: 10px 0 10px 0;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

.sectionTitle {
  margin-top: 30px;
  margin-bottom: 40px;
}

.btnBlock {
  margin: 20px auto 10px auto;
  display: block;
  padding: 7px 55px 13px 55px;
  border-radius: 10px !important;
  box-shadow: none;
  border: none;
}

.btnBlock h4 {
  margin-bottom: 0;
}

#btnRegister {
  background-color: #282828;
  color: white;
}

#btnRegister:hover {
  background-color: #42464f;
}

#btnToForm {
  background-color: white;
  color: #282828;
  text-decoration: none;
  display: inline-block;
}

.navBarCustom {
  margin-bottom: 0 !important;
  text-align: center;
  border: 0 !important
}

.navBarCustom > .container-fluid > .centerMenu {
  display: inline-block !important;
}

.centerMenu > ul > li > a {
  text-align: center;
  color: black;
  font-weight: bold;
}

.centerMenu > ul > li > a:hover {
  background-color: white;
}

.centerMenu > ul > li > a.customA:hover {
  background-color: black;
  //background-image: linear-gradient(to right, #4d28b4, #7c20a3, #a41794);
  color: white;
}

.bannerContent {
  justify-content: flex-end;
}

.iconPlaces {
  width: 18px;
  height: auto;
}

.spaceImg {
  min-width: 18px;
}

.customMedia h5 {
  font-size: 17px !important;
}

.customInput {
  background-color: #F4820E !important;
  border-radius: 8px !important;
  padding: 12px 40px 8px 12px !important;
  height: auto !important;
  color: #fff !important;
  font-size: 15px;
}

.customCheckbox {
  background-color: #F4820E !important;
  border-radius: 8px !important;
  margin-left: 0px;
  margin-right: 0px;
  padding: 12px 0 12px 0 !important;
  color: #fff !important;
  font-size: 15px;
  height: inherit;
}

input::-webkit-input-placeholder { /* Chrome */
  color: #FFDA9F !important;
}

input:-ms-input-placeholder { /* IE 10+ */
  color: #FFDA9F !important;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: #FFDA9F !important;
  opacity: 1;
}

input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #FFDA9F !important;
  opacity: 1;
}

.schoolsContainer {
  background-image: url('./photos/201703/schools-map-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.schoolsContainer h4 {
  line-height: 28px !important;
}

.module {
  display: inline-block;
}

.imgMainContainer {
  background-size: cover;

}

.imgContainer1 {
  background-image: url('./photos/201703/sharing-1.png');
}

.imgContainer2 {
  background-image: url('./photos/201703/sharing-2.png');
}

.imgContainer3 {
  background-image: url('./photos/201703/sharing-3.png');
}

.imgContainer4 {
  background-image: url('./photos/201703/sharing-4.png');
}

.imgContainer5 {
  background-image: url('./photos/201703/sharing-5.png');
}

.imgContainer6 {
  background-image: url('./photos/201703/sharing-6.png');
}

.imgContainer7 {
  background-image: url('./photos/201703/sharing-7.png');
}

.imgContainer8 {
  background-image: url('./photos/201703/sharing-8.png');
}

.footer {
  background-image: url('./photos/201609/background-lien-he.png');
  background-position: center;
  background-size: contain;
  color: white;
}

.footer p {
  font-size: 14px;
}

.customMedia {
  margin-top: 10px !important;
}