/*------------fonts------------*/
@font-face {
    font-family: "myriad";
    src: url("./fonts/MYRIADPRO-REGULAR.otf")
}
@font-face {
    font-family: "myriadbold";
    src: url("./fonts/MYRIADPRO-BOLD.otf")
}
@font-face {
    font-family: "myriadboldcond";
    src: url("./fonts/MYRIADPRO-BOLDCOND.otf")
}
@font-face {
    font-family: "myriadboldcondit";
    src: url("./fonts/MYRIADPRO-BOLDCONDIT.otf")
}
@font-face {
    font-family: "myriadboldit";
    src: url("./fonts/MYRIADPRO-BOLDIT.otf")
}
@font-face {
    font-family: "myriadcond";
    src: url("./fonts/MYRIADPRO-COND.otf")
}
@font-face {
    font-family: "myriadcondit";
    src: url("./fonts/MYRIADPRO-CONDIT.otf")
}
@font-face {
    font-family: "myriadsemibold";
    src: url("./fonts/MYRIADPRO-SEMIBOLD.otf")
}
@font-face {
    font-family: "myriadboldit";
    src: url("./fonts/MYRIADPRO-SEMIBOLDIT.otf")
}
/*------------font-size------------*/
body {
    font-family: "myriad" !important;
}
/*------------common------------*/
h2{
    margin: 0;
}
.container-fluid{
    padding: 0;
}
/*------------color------------*/
.red{
    color: red;
}
.mblue {
    color: #0965cc;
}
/*------------menu------------*/
.navbar-nav>li>a{
    border-bottom: solid 3px #ffffff;
}
/*------------come-in effect (places)------------*/
.come-in {
    transform: translateX(-150px);
    animation: come-in 2.0s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 1.2s;
}
.already-visible {
    transform: translateX(0);
    animation: none;
}
@keyframes come-in {
    to { transform: translateX(0); }
}
/*------------default form------------*/
.img-responsive {
    display: inline-block;
}
/*------------default form------------*/
.form-control{
    border-radius: 8px;
}
.bootstrap-select{
    padding-bottom: 0px;
}
.form-group .bootstrap-select.btn-group {
    height: 38px;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select.btn-group .dropdown-toggle {
    background-color: #fde6ce !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 12px 40px 6px 12px !important;
    height: auto !important;
    color: #4c2c06 !important;
    font-size: 14px!important;
}
.bootstrap-select.btn-group .dropdown-menu {
    background-color: #fde6ce !important;
    color: #4c2c06 !important;
}
.dropdown-menu > li > a:hover {
    background-color: #4c2c06;
    color: white;
}
/*------------thank-you page------------*/
.img-links{
    position: relative;
    margin-top: -22px;
}
/*------------size of page------------*/
@media (max-width:767px){
    .navbar-brand {
        padding: 8px 20px 0 20px !important;
    }
    .navbar-toggle {
        border-color: red
    }
    .icon-bar {
        background-color: red
    }
}
@media (min-width: 768px) {
    .navbar-brand {
        padding: 10px 15px !important;
    }
    #menuHome:hover,#menuHome:focus {
        border-bottom: solid 3px #9E65B0;
    }
    #menuTeachers:hover,#menuTeachers:focus {
        border-bottom: solid 3px #fb8f41;
    }
    #menuOpportunities:hover,#menuOpportunities:focus {
        border-bottom: solid 3px #26a4fb;
    }
    #menuSharing:hover,#menuSharing:focus {
        border-bottom: solid 3px #ffd119;
    }
    #menuInfo:hover,#menuInfo:focus {
        border-bottom: solid 3px #14CC80;
    }
}
@media (max-width: 991px) {
    h2, .h2{
        font-size: 26px
    }
    h3{
        font-size: 18px
    }
    h4,p{
        font-size: 16px
    }
    .navbar-nav>li>a{
        font-size: 13px;
    }
}
@media (min-width: 992px){
    h2, .h2{
        font-size: 31px
    }
    h4,p{
        font-size: 18px
    }
}