/*----fonts----*/
@font-face {
    font-family: "myriad";
    src: url("./fonts/MYRIADPRO-REGULAR.otf")
}

@font-face {
    font-family: "myriadbold";
    src: url("./fonts/MYRIADPRO-BOLD.otf")
}

@font-face {
    font-family: "myriadsemibold";
    src: url("./fonts/MYRIADPRO-SEMIBOLD.otf")
}

body {
    font-family: "myriad" !important;
}

.semibold {
    font-family: "myriadsemibold";
}

.bold {
    font-family: "myriadbold";
}

.bootstrap-select{
    padding-bottom: 0px;
}

.form-group .bootstrap-select.btn-group {
    height: 46px;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select.btn-group .dropdown-toggle {
    background-color: #6e61ca !important;
    border-radius: 8px !important;
    padding: 12px 40px 12px 10px !important;
    height: auto !important;
    color: #fff !important;
    font-size: 14px!important;
}
.bootstrap-select.btn-group .dropdown-menu {
    background-color: #6e61ca !important;
    color: #fff !important;
}
.dropdown-menu > li > a {
    color: white;
}
@media (max-width:767px){
    .navbar-toggle {
        border-color: #6e61ca
    }
    .icon-bar {
        background-color: #6e61ca
    }
}

.coccoc-alo-phone.coccoc-alo-hover, .coccoc-alo-phone:hover {
    opacity: 1;
}
.coccoc-alo-phone.coccoc-alo-show {
    visibility: visible;
}
.coccoc-alo-phone {
    position: fixed;
    visibility: hidden;
    background-color: transparent;
    width: 200px;
    height: 200px;
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    right: 150px;
    top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: #00aff2;
    opacity: .5;
}
.coccoc-alo-ph-circle {
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30,30,30,0.4);
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: #00aff2;
}
.coccoc-alo-ph-img-circle {
    width: 60px;
    height: 60px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: rgba(30,30,30,0.1) url("./photos/201609/call.png") no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .7;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.coccoc-alo-ph-img-circle {
    animation-name: changeColor !important;
    -webkit-animation-name: changeColor !important;
    animation-duration: 1s !important;
    -webkit-animation-duration: 1s !important;
    animation-iteration-count: infinite !important;
    -webkit-animation-iteration-count: infinite !important;
    -webkit-animation-direction: alternate !important;
    animation-direction: alternate !important;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
    background-color: rgba(0,175,242,0.5);
    background-color: #a6e3fa 9;
    opacity: .75 !important;
}
.coccoc-alo-ph-circle-fill {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
